* {box-sizing:border-box;}
body {margin:0;}
.topRow {display:flex;}
.container {width:fit-content;margin: 5px;}
.graph {height:150px; width:150px; border-radius:50%; background-color:#ccdbcb;}
.metrics-data {display:grid; grid-template-columns:2fr 1.5fr 2fr;}
.column {border-right:2px solid #a6a6a6; padding:0 10px;}
.column:last-child {border:none;}
.requestRate {margin-top:10px;}
.cluster,.host {display:flex; gap:5px; justify-content:flex-end;}

.metricValue {font-weight:bolder; font-size:large; text-align:right;}
.successCount {color:#2a992a;}
.circuitCount {color:#3630ff;}
.timeoutCount {color:#ffaf24;}
.threadPoolRejectedCount {color:#9e329e;}
.errorCount {color:#ff332c;}
.errorPercentage {color:#9e9e9e; font-weight:bolder; font-size:x-large;}
.label {font-weight:bold; color:#9a9a9a;}
.value {font-weight:bolder; font-size:large;}
.commandName {text-align:right; text-overflow:initial; font-family:system-ui; font-weight:bold; padding:5px 10px;}
.bottomRow {display:flex; justify-content:right; flex-direction:column;}

.latencyMetrics {display:grid; grid-template-columns:repeat(4,1fr); justify-items:right; gap:10px;}

.lvalue {font-weight:bold; align-items:right; text-align:right;}
.llabel {color:#6a6a6a; text-align:right;}
.cvalue {color:#2a992a;}
.circuitStatus {display:flex; justify-content:right; gap:5px;}

.nav {display:flex; padding: 10px; width:100%; justify-content:space-between;}
.sortFunc {display:flex; justify-items:left;}
.sortOption {text-decoration:underline;}
.legend {display:flex; justify-items:right;}

.successColor {color:#2a992a;}
.errorColor {color:#ff332c;}
.threadPoolRejectedColor {color:#9e329e;}
.timeoutColor {color:#ffaf24;}
.circuitColor {color:#3630ff;}

.lineSeparator {margin:1px 10px;}
.heading {display:flex; justify-content:right;}
.headingText {font-size:xx-large; font-weight:bolder; font-family:fantasy; padding:0 10px;}